<button id="@Id" @onclick=OnClick @attributes=Attributes>

    @ChildContent

</button>

@code {
    [Parameter, EditorRequired]
    public required EventCallback OnClick { get; init; }

    [Parameter, EditorRequired]
    public required RenderFragment ChildContent { get; init; }

    [Parameter]
    public string? Id { get; init; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object?> Attributes { get; init; } = default!;
}