@page "/"

<PageTitle>Index</PageTitle>

<Grid Rows="1fr 1fr" Columns="1fr 1fr">
    <Button OnClick="@(() => Console.WriteLine("Hello World"))">Button 1</Button>
    <Button OnClick="@(() => Console.WriteLine("Hello World"))">Button 2</Button>
    <Button OnClick="@(() => Console.WriteLine("Hello World"))">Button 3</Button>
    <Button OnClick="@(() => Console.WriteLine("Hello World"))">Button 4</Button>
</Grid>